<h1 class="title1">Contact Us</h1>
  
  <div class="contact_section_2">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="map_icon">
                    <img src="/assets/map-icon.png" style="max-width: 100%;padding-left: 30px; ">
                    <p class="email-text"><a href="#">Gb road 123 londo<br>Uk</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="map_icon">
                    <img src="/assets/call-icon.png" style="max-width: 100%;padding-left: 30px;">
                    <p class="email-text"><a href="#">+7123654897</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="map_icon">
                    <img src="/assets/map-icon.png" style="max-width: 100%; padding-left: 30px;">
                    <p class="email-text"><a href="#">demo@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
