
.banner-main {
    background: #fff;
    padding: 30px 0;
  }
  
  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .long_text{
    color: #fff;
  }
  .centered-content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    background-color: white;
}
.quote_section{
  display: flex;
  justify-content:center;
  width: 100%;
    float: left;
    background-color: #076787;
    height: auto;
    padding: 20px;

}
.section_title{
  display:flex;
  gap: 50px;
  color: #ffffff;
  width:60%;
}
.section_left{
  max-width:50%;
}
.section_right{
  max-width:50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  background-color: #343A40;
  color: #ffffff;
  height: 50px;
  padding:8px 16px;
  border-radius:10px;
  font-size:20px;

}

.creative_taital {
    text-align: center;
}

.creative_text {
    font-size: 2rem; 
    border-bottom: 1px solid #000;
    width: 50%;
    margin: 0 auto;
    margin-bottom:20px;
}

.btn_main {
    margin-top: 2rem; 
}

  
  .bnner_title {
    margin-top:120px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .long_text {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 30px;
    text-align: center;
  }
  .carousel-control-next{
    

  }
  .titleQuote{
    color: #ffffff
  }
  .banner-main {
    height: 70vh;
    background-image: url('/assets/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

  }
  .services{
    margin-top:100px;
  }
  @media (max-width: 1400px) {
    .banner-main {
      height: 90vh;
    }
    
    .bnner_title{
      margin-top:revert;
      font-size:30px;
    }
    .centered-content{
      background-color: aliceblue;
      height:60vh;
      position:relative;
      margin-top:20px;
    }
    .btn_main{
      
    }
    .services{
      margin-top:150px;
    }

  }
  
  .btn_main {
    text-align: center;
  }
  
  .btn_main button {
    font-size: 22px;
    padding: 12px 40px;
    margin-top: 20px;
    border-radius: 30px;
  }
  @media (max-width: 768px){
    .centered-content{
      overflow: auto;
    }
    .header{
      position:fixed;
    }
    .container{
      
    }
    .centered-content{
      height:auto;
    }
    .creative_text{
      width: 100%;
    }
    .services{
      position: relative;
      top: 50%;
    }
    .creative_taital {
      height:100% !important;
  }
    .quote_section {
      text-align: center;width:100% !important;
      margin-bottom:20px;
      position: relative;
      margin-top:400px;
      
    }
    
    .section_title {
      width:200% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;width: 100% ;
    }
    .section_left{
      max-width:100%;
    }
    .section_left {
      margin-bottom: 20px;
      
    }
    
    .section_right {
      margin-top: 20px;
    }
  }
  

  
  