<header>
  <main>
    <img class="logo" src="/assets/logo.png" alt="logo">
  </main>

  <nav class="header__menu">
   <app-menu ></app-menu>
    <div class="header_main"> <div class="toggle"></div>
      <a routerLink="/">Home</a>
      <a routerLink="/about" routerLinkActive="active-link">About</a>
      <a routerLink="/services">Services</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/contact">Contact</a>

    </div>
    <div>
      <img class="search" src="/assets/search-icon.png" alt="">
    </div>
    
  </nav>
 
</header>
