.blog_main {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    padding-top: 250px;
  }
  
  .main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  
  h1 {
    text-align: center;
    padding-bottom: 50px;

  }
  
  img {
    width: 100%;
  }
  
  .section {
    width: 25%;
    height: 10%;
    float: left;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px;
  }
  
  p {
    margin: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
  