<div class="blog_main">
    <h1>Our Blog</h1>
 <div class="main">
    <div class="section">
        <img src="/assets/code.jpg" alt="products">
        <h3>Tarih</h3>
      <div>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form, by injected humour, or randomised words which don't look even slightly believable.</p>
      </div></div>
      <div class="section">
        <img src="/assets/code.jpg" alt="products">
        <h3>Tarih</h3>
      
      <div>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form, by injected humour, or randomised words which don't look even slightly believable.</p>
      </div></div>
      <div class="section">
        <img src="/assets/code.jpg" alt="products">
        <h3>Tarih</h3>
      
      <div>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form, by injected humour, or randomised words which don't look even slightly believable.</p>
      </div></div>
      <div class="section">
        <img src="/assets/code.jpg" alt="products">
        <h3>Tarih</h3>
      
      <div>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form, by injected humour, or randomised words which don't look even slightly believable.</p>
      </div></div>
      <div class="section">
        <img src="/assets/code.jpg" alt="products">
        <h3>Tarih</h3>
      
      <div>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form, by injected humour, or randomised words which don't look even slightly believable.</p>
      </div></div>
      <div class="section">
        <img src="/assets/code.jpg" alt="products">
        <h3>Tarih</h3>
      
      <div>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form, by injected humour, or randomised words which don't look even slightly believable.</p>
      </div></div>
 </div>
</div>
