<div class="contact">
  <h1 class="title">Let's Get In Touch!</h1>
  <div class="main">
    <div class="input_main">
      <div class="container">
        <div class="form-group">
          <input type="text" class="email-bt" placeholder="Name" name="Name">
        </div>
        <div class="form-group">
          <input type="text" class="email-bt" placeholder="Email" name="Email">
        </div>

        <div class="form-group">
          <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="text"></textarea>
        </div><div class="send_btn">
        <button type="button" class="main_bt"><a href="#">Send</a></button>
      </div>
      </div>
      <div class="lorem_text">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
          packages and web</p>
      </div>
    </div>
  </div>
  <app-contact-us></app-contact-us>

</div>
