<div class="blog_main">
  <div>
    <h1 class="title">Our Service</h1>
  </div>
  <div class="main">
    <div class="section">
      <img src="/assets/like-icon.png" alt="products">
      <div>
        <h3>Written with Love</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
          packages and web page editors now use Lorem Ipsum as their default model text,</p>
      </div>
    </div>
    <div class="section">
      <img src="/assets/fast-forword-icon.png" alt="products">

      <div>
        <h3>Fast Turnaround</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
          packages and web page editors now use Lorem Ipsum as their default model text,</p>
      </div>
    </div>
    <div class="section">
      <img src="/assets/design-icon.png" alt="products">


      <div>
        <h3>Up to Date</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
          packages and web page editors now use Lorem Ipsum as their default model text,</p>
      </div>
    </div>
    <div class="section">
      <img src="/assets/writing-icon.png" alt="products">


      <div>
        <h3>Premium Content</h3>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing
          packages and web page editors now use Lorem Ipsum as their default model text,</p>
      </div>
    </div>

  </div>
</div>
