<div  class="navbar" [ngClass]="{'navbar-fixed': isFixedNavbar}">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="navbar-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <button  mat-icon-button color="accent" class="navbar-toggle" (click)="toggleNavbar()">
        <mat-icon class="toggle">{{!navbarOpened ? '☰': '☰'}}</mat-icon>
      </button>
    </div>
    <div fxFlex class="top-navbar">
      <span fxFlex></span>
      <div class="header_main">

        <a routerLink="/">Home</a>
        <a routerLink="/about" routerLinkActive="active-link">About</a>
        <a routerLink="/services">Services</a>
        <a routerLink="/blog">Blog</a>
        <a routerLink="/contact">Contact</a>

      </div>
    </div>
  </div>
